@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

/* APP COLORS */
@theme {
  --color-primary-blue: #062243;
  --color-lighten-blue: #57799A;
  --color-primary-orange: #F07F3A;
  --color-darken-orange: #D66E2A;
  --color-lighten-orange: #FAB26D;
  --color-orange-100: #FDECE2;
  --color-orange-50: #FAF7F5;
  --color-eggshell: #EEE8D8;
  --color-red: #B81937;
  --color-red-bg: #FFE1E1;
  --color-green: #007A25;
  --color-green-bg: #CEFFD0;
  --color-warning: #C5A100;
  --color-warning-bg: #FDF8E2;
  --color-grey-background: #F6F6F6;
  --color-grey-border: #d2d2d2;
}


/* BASE STYLES */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Red Hat Text", sans-serif;
  color: var(--color-primary-blue);
  scroll-behavior: smooth;
}

html,
body {
  height: 100dvh;
  width: 100vw;
  box-sizing: border-box;
}

.liquid-glass-element {
  background: rgba(255, 255, 255, 0.09);
  border-radius: 18px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15.2px);
  -webkit-backdrop-filter: blur(15.2px);
  border: 1px solid rgba(255, 255, 255, 0.38);
}

.liquid-glass-button {
  background: rgba(255, 255, 255, 0.09);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15.2px);
  -webkit-backdrop-filter: blur(15.2px);
  border: 1px solid rgba(255, 255, 255, 0.38);
}

.liquid-glass-button:hover {
  scale: 1.15;
}

.liquid-glass-button:active {
  scale: 0.95;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}