@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

@import "tailwindcss";

/* APP COLORS */
@theme {
  --color-primary-blue: #062243;
  --color-lighten-blue: #57799A;
  --color-primary-orange: #F07F3A;
  --color-lighten-orange: #FAB26D;
  --color-white-orange: #FDECE2;
  --color-eggshell: #EEE8D8;
  --color-red: #FF4F4F;
  --color-green: #6ECF67;
  --color-warning: #FFC75E;
  --color-grey-background: #F6F6F6;
}


/* BASE STYLES */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Red Hat Text", sans-serif;
  color: var(--color-primary-blue);
  scroll-behavior: smooth;
}

html,
body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}